# Node modules
node_modules/

# Build output
dist/
uploads/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env

# Cache/Temp Files
*.tsbuildinfo
*.cache
.vscode/
.DS_Store

# TypeScript compiled output
*.js
*.js.map
*.d.ts

# Firebase and Configs (ตามความเหมาะสม)
firebaseConfig.ts

# Package Lock Files (กรณีเลือกใช้ Yarn หรือ npm แต่ไม่ควรติดตามทั้งสอง)
package-lock.json
yarn.lock

# Git-specific
.git/
