.form-container {
  width: 100%; /* ใช้ความกว้างเต็ม */
  padding: 20px; /* เพิ่มพื้นที่รอบ ๆ */
  background-color: white; /* สีพื้นหลัง */
  border-radius: 8px; /* มุมโค้ง */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* เงา */
  /* margin: 50px; เพิ่มระยะห่างระหว่างฟอร์มกับขอบ */
}

.form {
  font-size: 16px; /* กำหนดขนาดตัวอักษรให้เท่ากัน */
}

.radioButton {
  display: flex; /* ใช้ Flexbox */
  flex-direction: row; /* ตั้งค่าการจัดเรียงในแนวนอน */
  justify-content: space-between; /* จัดชิดซ้าย หรือคุณสามารถใช้ center หรือ space-between */
  align-items: center; /* จัดแนวกลางในแนวตั้ง */
  width: 100%;
}

.radioButton input[type="radio"] {
  width: 20px; /* ขนาดของปุ่ม */
  height: 20px; /* ขนาดของปุ่ม */
  border: solid seagreen; /* สีกรอบ */
  border-radius: 50%; /* ทำให้เป็นวงกลม */
  outline: none; /* เอา outline ออก */
  margin-inline-start: auto;
  margin: 3px 5px 0px 0px;
  cursor: pointer; /* แสดง cursor แบบ pointer */
  transition: background 0.2s, border-color 0.2s; /* เพิ่มการเปลี่ยนแปลงสี */
}

.radioButton input[type="radio"]:checked {
  background-color: seagreen;
  border-color: seagreen;
}

.radioButton label {
  display: flex; /* ใช้ Flexbox */
  margin-left: 5px; /* ช่องว่างระหว่าง label และ radio button */
  cursor: pointer; /* แสดง cursor แบบ pointer */
}

.form-button-container {
  display: flex;
  flex-direction: row;
  justify-content: end; /* จัดให้อยู่กึ่งกลาง */
  align-items: end;
  width: 100%; /* ขยายความกว้างของ Col ให้เต็ม */
}

.form-button {
  width: 50%;
  min-width: 100px;
  max-width: 150px;
}

/* กำหนดกรอบสีแดงเมื่อมีข้อผิดพลาด */
.select-is-invalid .react-select__control {
  border-color: red !important; /* กรอบสีแดง */
}

/* กรอบเมื่อเลือก (focus) */
.select-is-invalid .react-select__control--is-focused {
  border-color: red !important; /* กรอบสีแดงเมื่อเลือก */
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25) !important; /* เพิ่มเงาแดง */
}

/* กรอบเมื่อเลือก (focus) */
.select-is-valid .react-select__control--is-focused {
  border-color: #80bdff !important; /* กรอบสีฟ้าเมื่อเลือก */
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important; /* เพิ่มเงาฟ้า */
}

@media (max-width: 767px) {
  .radioButton {
    margin-left: 15px;
    display: flex; /* ใช้ Flexbox */
    flex-direction: column; /* ตั้งค่าการจัดเรียงในแนวนอน */
    justify-content: flex-start; /* จัดชิดซ้าย หรือคุณสามารถใช้ center หรือ space-between */
    align-items: center; /* จัดแนวกลางในแนวตั้ง */
  }

  .noCar-tel {
    display: flex;
    flex-direction: column; /* หรือ row ถ้าต้องการให้เรียงกันในแนวนอน */
    width: 100%; /* ทำให้ความกว้างเต็ม */
  }

  .dateTax {
    display: flex;
    flex-direction: column; /* หรือ row ถ้าต้องการให้เรียงกันในแนวนอน */
    width: 100%; /* ทำให้ความกว้างเต็ม */
  }

  .date-idNo-carType-Input {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    width: 100%;
  }
}

@media (max-width: 553px) {
  .register-and-contract-number {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .form-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* จัดให้อยู่กึ่งกลาง */
    align-items: center;
    width: 100%; /* ขยายความกว้างของ Col ให้เต็ม */
  }

  .form-button {
    width: 100%;
    min-width: 100px;
    max-width: 200px;
    margin-bottom: 20px;
  }
}

.custom-checkbox input[type="checkbox"]:checked {
  background-color: green;
  border-color: green;
}

/* .custom-link {
  text-decoration: none; 
}

.custom-link:hover {
  background-color: silver;
} */
