.form-container {
  width: 100%; /* ใช้ความกว้างเต็ม */
  padding: 20px; /* เพิ่มพื้นที่รอบ ๆ */
  background-color: white; /* สีพื้นหลัง */
  border-radius: 8px; /* มุมโค้ง */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* เงา */
  /* margin: 50px; เพิ่มระยะห่างระหว่างฟอร์มกับขอบ */
}

.form {
  font-size: 16px; /* กำหนดขนาดตัวอักษรให้เท่ากัน */
}

.radioButton {
  display: flex;               /* ใช้ Flexbox */
  flex-direction: row;        /* ตั้งค่าการจัดเรียงในแนวนอน */
  justify-content: space-between; /* จัดชิดซ้าย หรือคุณสามารถใช้ center หรือ space-between */
  align-items: center;        /* จัดแนวกลางในแนวตั้ง */
}

.radioButton input[type="radio"] {
  
  width: 20px; /* ขนาดของปุ่ม */
  height: 20px; /* ขนาดของปุ่ม */
  border: solid #007bff; /* สีกรอบ */
  border-radius: 50%; /* ทำให้เป็นวงกลม */
  outline: none; /* เอา outline ออก */
  margin-inline-start: auto;
  cursor: pointer; /* แสดง cursor แบบ pointer */
 
  transition: background 0.2s, border-color 0.2s; /* เพิ่มการเปลี่ยนแปลงสี */
}

.radioButton label {
  margin-left: 10px; /* ช่องว่างระหว่าง label และ radio button */
  cursor: pointer; /* แสดง cursor แบบ pointer */
}


@media (max-width: 768px) {
  .radioButton {
   display: flex;               /* ใช้ Flexbox */
   flex-direction: column;        /* ตั้งค่าการจัดเรียงในแนวนอน */
   justify-content: flex-start; /* จัดชิดซ้าย หรือคุณสามารถใช้ center หรือ space-between */
   align-items: center;        /* จัดแนวกลางในแนวตั้ง */
  }

  .noCar-tel{
    display: flex;
    flex-direction: column; /* หรือ row ถ้าต้องการให้เรียงกันในแนวนอน */
    width: 100%; /* ทำให้ความกว้างเต็ม */
  }

  .dateTax{
    display: flex;
    flex-direction: column; /* หรือ row ถ้าต้องการให้เรียงกันในแนวนอน */
    width: 100%; /* ทำให้ความกว้างเต็ม */
  }

  .ID-card-and-type{
    display: flex;
    flex-direction: column; /* หรือ row ถ้าต้องการให้เรียงกันในแนวนอน */
    width: 100%; /* ทำให้ความกว้างเต็ม */
  }
}